//替换mescroll的样式

// mescroll 吸顶布局
.nav-sticky {
  z-index: 20;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.nav-fixed {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.mescroll-empty {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  .empty-icon {
    width: 125px;
    height: 40px;
  }
  .empty-tip {
    margin-top: 15px;
    color: #333;
    font-weight: normal;
  }
}
.mescroll-totop{
  width: 50px;
  height: 50px;
}
.mescroll-totop-home{
  width: 60px;
  height: 60px;
  z-index: 9990;
  position: fixed;
  right: 10px;
  bottom: 60px;
  border-radius: 50%;
  opacity: 0;
}