body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }  
    body, button, input, select, textarea { font:tahoma, arial, \5b8b\4f53; }  
    h1, h2, h3, h4, h5, h6{ font-size:100%; }  
    address, cite, dfn, em, var,i { font-style:normal; }  
    code, kbd, pre, samp { font-family:couriernew, courier, monospace; }  
    small{ font-size:12px; }  
    ul, ol { list-style:none; }  
    a { text-decoration:none; }  
    a:hover { text-decoration:none; }  
    sup { vertical-align:text-top; }  
    sub{ vertical-align:text-bottom; }  
    legend { color:#000; }  
    fieldset, img { border:0; }  
    button, input, select, textarea { font-size:100%; }
body,html{font-weight: normal;}
body,html{
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    height: 100%;
    color: #333;
}
body  {
  font-family: Arial, "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;
     -webkit-text-size-adjust: none;   background-color: #f2f2f2;
}
#__nuxt{
    height: 100%;
}
#__layout{
    height: 100%;
}
/**
 * view-port list:
320x480
320x568
320x570
360x592
360x598
360x604
360x640
360x720
375x667
375x812
393x699
412x732
414x736
480x854
540x960
640x360
720x1184
720x1280
800x600
1024x768
1080x1812
1080x1920
 */

 @media screen and (max-width: 320px) {
    html {
      font-size: 32px;
      font-size: -webkit-calc(10vw);
      font-size: -moz-calc(10vw);
      font-size: calc(10vw);
    }
  }
  @media screen and (min-width: 321px) and (max-width: 360px) {
    html {
      font-size: 36px;
      font-size: -webkit-calc(10vw);
      font-size: -moz-calc(10vw);
      font-size: calc(10vw);
    }
  }
  @media screen and (min-width: 361px) and (max-width: 375px) {
    html {
      font-size: 37.5px;
      font-size: -webkit-calc(10vw);
      font-size: -moz-calc(10vw);
      font-size: calc(10vw);
    }
  }
  @media screen and (min-width: 376px) and (max-width: 393px) {
    html {
      font-size: 39.3px;
      font-size: -webkit-calc(10vw);
      font-size: -moz-calc(10vw);
      font-size: calc(10vw);
    }
  }
  @media screen and (min-width: 394px) and (max-width: 412px) {
    html {
      font-size: 41.2px;
      font-size: -webkit-calc(10vw);
      font-size: -moz-calc(10vw);
      font-size: calc(10vw);
    }
  }
  @media screen and (min-width: 413px) and (max-width: 414px) {
    html {
      font-size: 55.2px;
      font-size: -webkit-calc(10vw);
      font-size: -moz-calc(10vw);
      font-size: calc(10vw);
    }
  }
  @media screen and (min-width: 415px) and (max-width: 480px) {
    html {
      font-size: 64px;
      font-size: -webkit-calc(10vw);
      font-size: -moz-calc(10vw);
      font-size: calc(10vw);
    }
  }
  @media screen and (min-width: 481px) and (max-width: 540px) {
    html {
      font-size: 72px;
      font-size: -webkit-calc(10vw);
      font-size: -moz-calc(10vw);
      font-size: calc(10vw);
    }
  }
  @media screen and (min-width: 541px) and (max-width: 640px) {
    html {
      font-size: 85.33px;
      font-size: -webkit-calc(10vw);
      font-size: -moz-calc(10vw);
      font-size: calc(10vw);
    }
  }
  @media screen and (min-width: 641px) and (max-width: 720px) {
    html {
      font-size: 96px;
      font-size: -webkit-calc(10vw);
      font-size: -moz-calc(10vw);
      font-size: calc(10vw);
    }
  }
  @media screen and (min-width: 721px) {
    html {
      font-size: 102.4px;
      font-size: -webkit-calc(10vw);
      font-size: -moz-calc(10vw);
      font-size: calc(10vw);
    }
  }