.df {
  display: flex;
}
.acenter {
  align-items: center;
}
.jcenter {
  justify-content: center;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pf {
  position: fixed;
}
.z10 {
  z-index: 10;
}
.z100 {
  z-index: 100;
}
.z1000 {
  z-index: 1000;
}
.f52 {
  font-size: 52px;
}
.f50 {
  font-size: 50px;
}
.f44 {
  font-size: 44px;
}
.f42 {
  font-size: 42px;
}
.f40 {
  font-size: 40px;
}
.f38 {
  font-size: 38px;
}
.f36 {
  font-size: 36px;
}
.f34 {
  font-size: 34px;
}
.f32 {
  font-size: 32px;
}
.f30 {
  font-size: 30px;
}
.f28 {
  font-size: 28px;
}
.f26 {
  font-size: 26px;
}
.f24 {
  font-size: 24px;
}
.f22 {
  font-size: 22px;
}
.f20 {
  font-size: 20px;
}
.f18 {
  font-size: 18px;
}
.f17 {
  font-size: 17px;
}
.f16 {
  font-size: 16px;
}
.f15 {
  font-size: 15px;
}
.f14 {
  font-size: 14px;
}
.f13 {
  font-size: 13px;
}
.f12 {
  font-size: 12px;
}
.f11 {
  font-size: 11px;
}
.f10 {
  font-size: 10px;
}
.c3 {
  color: #333;
}
.c6 {
  color: #666;
}
.c9 {
  color: #999;
}
.cf {
  color: #fff;
}
.ctea {
  color: #d45949;
}
.fwb {
  font-weight: bold;
}
.fw400 {
  font-weight: 400;
}
.fw500 {
  font-weight: 500;
}
.fw600 {
  font-weight: 600;
}
.tac {
  text-align: center;
}
.mauto {
  margin: 0 auto;
}
.tover {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
